button.show__itinerary{
    font-family: HelveticaNeue-Light;
    appearance: none;
    font-weight: bold;
    background-color: white;
    color: black;
    margin-left: 20px;
    text-align: center;
    text-decoration: none;
    border: none;
    /* transition-duration: .5; */
    font-size:15px;
    cursor:pointer;
}

button.show__itinerary:hover{
    font-family: HelveticaNeue-Light;
    appearance: none;
    background-color: #004769;
    color: white;
    box-shadow: 0px 20px 25px 5px #272c2f;
    transition-duration: .5s;
    font-size:17px;
    cursor:pointer;
    outline:none;
}


.button__details {
    margin-top: 15px;
    max-width: 150px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .03rem;
    color: black;
    background: white;
    outline: none;
}

.button__events {
    margin-top:4px;
    max-width: 150px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .03rem;
    color: black;
    background: white;
    outline: none;
}

.button__delete {
    margin-top: 15px;
    max-width: 150px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .03rem;
    color: black;
    background: white;
    outline: none;
}

button {
    font-family: HelveticaNeue-Light;
    appearance: none;
    background-color: white;
    
    border-radius: .25rem;
    border: 1.2px solid #02293b63;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    width: 100%;
    transition-duration: .5s;
}

.button{
    width: 200px;
    max-height: 70px;
}

button:hover {
    box-shadow: 0px 2px 10px 1px #272c2f;
    transition-duration: .3s;
  
}