
button.close__dialog {
    width: 25%;
    margin: 20px 0 5px 0;
    outline: none;
}

dialog::backdrop {
    background: #527d90;
    opacity: 62.5%;
 }

.dialog__park {
    max-width:45%;
    font-family: HelveticaNeue-Light;
    font-size: 22px; 
    border: none;
    -webkit-box-shadow: 10px 10px 4px 0px rgba(0,0,0,0.90);
    -moz-box-shadow: 10px 10px 4px 0px rgba(0,0,0,0.90);
    box-shadow: 10px 10px 4px 0px rgba(0,0,0,0.90);
}

.dialog__attraction {
    max-width:45%;
    font-family: HelveticaNeue-Light;
    font-size: 22px; 
    border: none;
    -webkit-box-shadow: 10px 10px 4px 0px rgba(0,0,0,0.90);
    -moz-box-shadow: 10px 10px 4px 0px rgba(0,0,0,0.90);
    box-shadow: 10px 10px 4px 0px rgba(0,0,0,0.90);
}



.dialog__eatery {
    max-width:45%;
    font-family: HelveticaNeue-Light;
    font-size: 22px; 
    border: none;
    -webkit-box-shadow: 10px 10px 4px 0px rgba(0,0,0,0.90);
    -moz-box-shadow: 10px 10px 4px 0px rgba(0,0,0,0.90);
    box-shadow: 10px 10px 4px 0px rgba(0,0,0,0.90);
}


/* SAVED ITINERARY DIALOG BOXES */

.dialog__events {
    max-width:45%;
    font-family: HelveticaNeue-Light;
    font-size: 22px; 
    border: none;
    -webkit-box-shadow: 10px 10px 4px 0px rgba(0,0,0,0.90);
    -moz-box-shadow: 10px 10px 4px 0px rgba(0,0,0,0.90);
    box-shadow: 10px 10px 4px 0px rgba(0,0,0,0.90);
    
}




.dialog__events p {
    padding: 7px !important;
    line-height: 25px;
}

.close__eventsDialog {
    width: 25%;
    margin: 20px 0 5px 0;
    outline: none;
}

.dialog__itinerary {
    max-width:45%;
    font-family: HelveticaNeue-Light;
    font-size: 22.5px; 
    border: none;
    -webkit-box-shadow: 10px 10px 4px 0px rgba(0,0,0,0.90);
    -moz-box-shadow: 10px 10px 4px 0px rgba(0,0,0,0.90);
    box-shadow: 10px 10px 4px 0px rgba(0,0,0,0.90);
}
  .close__itineraryDialog {
    width: 25%;
    margin: 20px 0 5px 0;
    outline: none;
}
  


.dialog__directions {
    max-width:45%;
    font-family: HelveticaNeue-Light;
    font-size: 22.5px; 
    border: none;
    -webkit-box-shadow: 10px 10px 4px 0px rgba(0,0,0,0.90);
    -moz-box-shadow: 10px 10px 4px 0px rgba(0,0,0,0.90);
    box-shadow: 10px 10px 4px 0px rgba(0,0,0,0.90);
}



