.attraction__card {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    justify-content: flex-end;
    min-width: 200px;
    max-height: 250px;
    text-align: center;
    align-items: center;
    margin-top: 20px;
    border-radius: 4px;
    padding: 15px;
}




.dino_icon{
    max-width: 120px;
}

.attraction__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}


.dialog__attraction .attraction__name {
    font-size: 24px;
    font-weight: bold;
    max-width: auto;
}

.dialog__attraction .attraction__state {
    font-size: 20px;
    font-weight: bold;
    max-width: auto;
}

.dialog__attraction .attraction__city {
    font-size: 20px;
    font-weight: bold;
    max-width: auto;
}

.dialog__attraction .attraction__description {
    padding: 20px;
}






