.directons__card {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    justify-content: flex-end;
    min-width: 200px;
    max-height: 250px;
    text-align: center;
    align-items: center;
    margin-top: 20px;
    border-radius: 4px;
    padding: 15px;
}


.dialog__directionsInner {
    font-size: 15px;
    line-height: 30px;
    font-weight: normal;
    max-width: auto;
    padding: 20px;
}

button.close__directionsDialog {
    width: 25%;
    margin: 20px 0 5px 0;
    outline: none;
}

