footer__icon {
    max-width: 125px;
    margin-top: 40px;
}

footer{
    background-color:#004769;
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    box-shadow: 0px 0px 5px 0px #272c2f;
    margin-left: -20px;
    margin-right: -20px;
    padding-top: 20px;
    padding-bottom: 20px;
    /* padding-right: 80px; */
    padding-left: 10px;
    position: absolute;
    width: 100%;
    bottom: 100;
    font-size: 10pt;
}

.social__icon {
    max-width: 40px;
    margin-left: 5px;
}

.footer__copy {
    font-size: 7.5pt;
    line-height: 1.5;
    
}

.footer__links{
    display: flex;
    flex-wrap: wrap;
    width: 250px;
}
.footer__copy DIV{
    margin-left: 50px;
    margin-bottom: 10px;
}
.footer__copy a {
    text-decoration: none;
    color: white;
}
.footer__copy DIV:hover{
    text-decoration: underline;
}
