.eatery__card {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    justify-content: flex-end;
    min-width: 200px;
    max-height: 250px;
    text-align: center;
    align-items: center;
    margin-top: 20px;
    border-radius: 4px;
    padding: 15px;
}

.fork_icon {
    max-width: 120px;
}

.rating {
    width: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.mountain_icon{
    max-width: 50px;
}

.eatery__name {
    margin-top: 13px;
    max-width: 150px;
}

.eatery__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}