@media screen and (max-height: 450px) {
  .side--itinerary {padding-top: 15px;}
  .side--itinerary a {font-size: 18px;}
}

aside {
  font-family: "Lato", sans-serif;
}

.side--itinerary {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #527d90;
  overflow-x: hidden;
  overflow-y: scroll;
  transition: 0.5s;
}


.side--itinerary:first-child {
  padding-top: 50px;
}

.side--itinerary:last-child {
  padding-top: 50px;
}

.itinerary__content {
  text-decoration: none;
  font-size: 20px;
  line-height: 2rem;
  color: white;
  display: block;
  transition: 0.3s;
  text-align:center;
  background-color: #004769;
  border-radius: 4px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
  padding: 15px 0 15px 0;

  align-items: center;
  box-shadow: 0px 0px 5px 0px #272c2f;
}

.side--itinerary .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.side--itinerary .closebtn:hover {
  transition-duration: .3s;
  color: #d7c780;
  cursor: pointer;
}



.itinerary__buttons {
  display: flex;
  justify-content: center;
  max-width: 75px;
}


.button__details:hover {
  transition-duration: .3s;
  color: white;
  cursor: pointer;
  background-color: #527D90;
  
}

.button_events.
.button__delete:hover {
  transition-duration: .3s;
  color: white;
  cursor: pointer;
  background-color: #527D90;
}

.button__events:hover {
  transition-duration: .3s;
  color: white;
  cursor: pointer;
  background-color: #527D90;
}
/* STYLING SAVED ITINERARY CARDS */
.itinerary__name {
  font-family: sans-serif;
  font-size: 24px;
}

.itinerary__content {
  
  font-size: 16.5px;
}






