@import 'nav.css';
@import 'buttons.css';
@import 'itinerary.css';
@import 'weather.css';
@import 'itinerary__preview.css';
@import 'eatery.css';
@import 'park.css';
@import 'attraction.css';
@import 'itinerary__modal.css';
@import 'dialog.css';

.header__icon {
    max-width: 120px;
}

body {
    font-family: HelveticaNeue-Light;
}

.all__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error {
    color: red;
    text-transform: lowercase;
    padding-top: 13px;
}
.main__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero {
    background-image: url(/images/road_trip.jpg);
    background-size: cover;
}