@import 'navs/nav.css';
@import 'interactions/buttons.css';
@import 'itinerary/itinerary.css';
@import 'cards/weather.css';
@import 'itinerary/itinerary__preview.css';
@import 'cards/eatery.css';
@import 'cards/park.css';
@import 'cards/attraction.css';
@import 'itinerary/itinerary__modal.css';
@import 'interactions/dialog.css';
@import 'hero.css';
@import 'navs/footer.css';
@import 'cards/event.css';

body {
    font-family: HelveticaNeue-Light;
}

.all__content {
    display: flex;
    flex-direction: column;
}


.main__content {
    display: flex;
    flex-direction: column;
    margin-bottom: -100px;
}


.test12345