.weather {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;   
}

.weather__card {
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    padding: 14px;
    align-content: center;
    text-align: center;
    flex-basis: 5%;
    flex-direction: column;
    line-height: 1.5;
    box-shadow: 0px 0px 5px 0px #272c2f;
    border-radius: 4px;
}

